# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Javac
classes
headers
**/*.log
fluxcraft/src/test/resources/libfluxcraft_jni*
fluxcraft/bin/**/*