name: Publish to GitHub Packages

on:
  push:
    tags:
      - "v*.*.*" # triggers on version tags like v1.0.0
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version (ex. 1.0.0)

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - uses: actions/cache@v5
        id: cache
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
            fluxcraft-rs/crates/fluxcraft-wasm/pkg
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock', '**/*.rs') }}

      - name: Copy rust binary
        working-directory: fluxcraft-rs
        run: cp target/release/libfluxcraft_jni.so ../fluxcraft-java/fluxcraft/src/main/resources/libfluxcraft_jni.so

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Grant execute permission for Gradle
        working-directory: fluxcraft-java
        run: chmod +x gradlew

      - name: Publish package
        working-directory: fluxcraft-java
        run: ./gradlew publish -Pversion=${{ github.event.inputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
